contact management system/MultiUser Contact Management System/Web References/Contacts/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53810/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53810/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53810/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfContactsManagementSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_IsValidUser_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUser" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValidUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsUserRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserRegister" />
  </wsdl:message>
  <wsdl:message name="IService1_IsUserRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecoverPwdE_InputMessage">
    <wsdl:part name="parameters" element="tns:RecoverPwdE" />
  </wsdl:message>
  <wsdl:message name="IService1_RecoverPwdE_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecoverPwdEResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecoverPwdS_InputMessage">
    <wsdl:part name="parameters" element="tns:RecoverPwdS" />
  </wsdl:message>
  <wsdl:message name="IService1_RecoverPwdS_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecoverPwdSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePwd_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePwd" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePwd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePwdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGroup" />
  </wsdl:message>
  <wsdl:message name="IService1_AddGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroup" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroup" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="IsValidUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsValidUser" message="tns:IService1_IsValidUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsValidUserResponse" message="tns:IService1_IsValidUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsUserRegister" message="tns:IService1_IsUserRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsUserRegisterResponse" message="tns:IService1_IsUserRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecoverPwdE">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecoverPwdE" message="tns:IService1_RecoverPwdE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecoverPwdEResponse" message="tns:IService1_RecoverPwdE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecoverPwdS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecoverPwdS" message="tns:IService1_RecoverPwdS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecoverPwdSResponse" message="tns:IService1_RecoverPwdS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePwd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangePwd" message="tns:IService1_ChangePwd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangePwdResponse" message="tns:IService1_ChangePwd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddGroup" message="tns:IService1_AddGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddGroupResponse" message="tns:IService1_AddGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteGroup" message="tns:IService1_DeleteGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteGroupResponse" message="tns:IService1_DeleteGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateGroup" message="tns:IService1_UpdateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateGroupResponse" message="tns:IService1_UpdateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsValidUser">
      <soap:operation soapAction="http://tempuri.org/IService1/IsValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserRegister">
      <soap:operation soapAction="http://tempuri.org/IService1/IsUserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecoverPwdE">
      <soap:operation soapAction="http://tempuri.org/IService1/RecoverPwdE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecoverPwdS">
      <soap:operation soapAction="http://tempuri.org/IService1/RecoverPwdS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePwd">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangePwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <soap:operation soapAction="http://tempuri.org/IService1/AddGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53810/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>