contact management system/MultiUser Contact Management System/Web References/Contacts/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfContactsManagementSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfContactsManagementSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfmyGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="myGroup" nillable="true" type="tns:myGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmyGroup" nillable="true" type="tns:ArrayOfmyGroup" />
  <xs:complexType name="myGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="GrpId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="myGroup" nillable="true" type="tns:myGroup" />
  <xs:complexType name="ArrayOfmyContacts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="myContacts" nillable="true" type="tns:myContacts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmyContacts" nillable="true" type="tns:ArrayOfmyContacts" />
  <xs:complexType name="myContacts">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConAddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConDob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConMob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrpId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="conId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="myContacts" nillable="true" type="tns:myContacts" />
</xs:schema>